* {
   font-family: "Open Sans";
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 16px;
}

section {
    max-width: 1920px;
    width: 100%;
    background-color: #fff;
    padding: 24px;
    margin-bottom: 48px;
}

section img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

p {
    text-align: center;
}

h5 {
    color: #E1624F;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    font-size: 16px;
}